{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
      {% if request.user.is_authenticated %}
        {% include 'includes/history.html' %}
      {% else %}
        <div class="card-header">
          <h5>Greeting</h5>
        </div>
        <div class="card-block">
          <p>
              Hello and welcome to our web application!
              We are thrilled to have you join us. Thank you for choosing our platform to analyze the emotional sentiment of your text. We hope you enjoy your experience with us and find our tool helpful.
              If you have any questions or feedback, please don't hesitate to reach out to our support team.
              Thank you for being a part of our community!
          </p>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

    <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">

      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}
